body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
    margin: auto;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input {
    margin: 5px 0;
    padding: 8px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#message, #result {
    margin-top: 20px;
    color: #007BFF;
}
