body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

h4 {
  margin-left: 50px;
  color: #333;
}

form {
  margin-bottom: 20px;
}

input {
  margin: 5px 0;
  padding: 8px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

#message,
#result {
  margin-top: 20px;
  color: #007bff;
}
.action-btn {
  box-sizing: border-box;
}

.action {
}
.action p {
  margin: 5px;
  display: inline-block;
  width: 300px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 15px; */
}
.form-group label {
  width: 30%;
  margin-right: 10px;
}

.form-group input {
  width: 70%;
  padding: 8px;
  box-sizing: border-box;
}
.form-container {
    width: 400px;
   
}